{{define "notes"}}
{{template "header" .}}
{{template "nav" .}}
<div class="container">
    <div class="row">
        <div class='text-left'>
            <h2>Notes</h2>
            <p class="lead"> This is a collection of notes. Topics range from reviews of movies and books to
                thoughts on technologies, companies, and food. It will be very random. </p>
            {{range .Notes}}
            <h4>
                <a href="/notes/{{.Title}}">
                    {{.Title}}
                </a>
            </h4>
            <h6>{{.Topic}}: {{.Content}}</h6>
            {{end}}
        </div>
    </div>
</div>
{{template "footer"}}
{{end}}